Flask==3.1.0
Flask-Babel==4.0.0
gunicorn==23.0.0 
tensorflow-cpu==2.16.1
keras==3.9.2
Pillow==11.1.0
h5py==3.13.0
numpy==1.26.4
protobuf==4.21.6  # التغيير هنا
grpcio==1.51.3
grpcio-status==1.51.3
